<div class='footer'>
  <h4><%= Date.today.year %> - Audrey Penven - Photography</h4>
  <span class='page-updated-at'>this page last updated on <%= Date.today %></span>
  <a rel="me" href="https://xoxo.zone/@yerdua"></a>
</div>