<div class='nav-container'>
  <a href='/' title='home' class='nav-home'><img class='logo' src='/images/symbol_sml.png'></a>
  <nav class='site-nav'>
    <input id='collapser' class='toggle' type='checkbox'>
    <label for='collapser' class='nav-collapser'>
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class='nav-menu'>
      <li><a href='/photography-portfolio'>Portfolio</a></li>
      <li><a href='/photography-archive'>Archive</a></li>
      <li><a href='/blog'>Blog</a></li>
      <li><a href='/about'>About</a></li>
    </ul>
  </nav>
</div>
